.carousel {
	width: 1200px;
	overflow: hidden;
	height: 700px;
}

.carousel .item {
	width: 320px;
	height: 500px;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #138d44;
	color: white;
	line-height: 20px;
	text-align: left;
	font-family: Roboto, Arial, sans-serif;
}
.carousel .item img{
	width: 100%;
	height: 220px;
}
.carousel .item .test-text{
	font-size: 20px;
	margin: 40px 20px 20px;
	line-height: 25px;
	font-weight: 500;
}
.carousel .item .test-name{
	font-size: 14px;
	margin: 0px 20px 5px;
	font-weight: 500;
}
.carousel .item .test-shop{
	font-size: 14px;
	margin: 0px 20px 20px;
	font-weight: 200;
}
#slider.ui-slider-horizontal:before{

}
.slider-outer{
	width: 100%;
}
.slider-outer-left{
	width: 5%;
	height: 12px;
	float: left;
	background: url(../img/blackline.jpg) repeat-x;
}
.slider-outer #slider{
	width: 90%;
	margin: 0;
	float: left;
}
.slider-outer-right{
	width: 5%;
	height: 12px;
	float: left;
	background: url(../img/blackline.jpg) repeat-x;
}
#slider.ui-slider-horizontal{
	border: none;
	background: url(../img/blackline.jpg) repeat-x;
}
span.ui-slider-handle.ui-state-default.ui-corner-all{
	background: #238D4A;
	width: 10%;
	height: 30px;
	margin-top: -5px;
	margin-left: -5%;
}
span.ui-slider-handle.ui-state-default.ui-corner-all:after{
	content: attr(data-after);
	color: white;
	text-align: center;
	padding: 3px 20px
}